h1 {
    text-align: center;
}

#container {
    border: solid black 5px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 800px;
}

#set-grid-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}